/*************************
    List Card Styles
*************************/

.list-card {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 4vh;
    position: relative;
    top: 10vh;
    right: 10vh;

    .margin-left {
        float: right;
    }
}

.small-text {
    font-size: calc(1vh + .4em);
    font-weight: 500;
    text-decoration: underline;
}
