/*************************
    List Card Styles
*************************/

.list-card {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 4vh;
    position: relative;
    top: 10vh;
    right: 10vh;
}
